@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#79e4a6, #1bc296);
}

.search-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0a1b2d;
  height: 40px;
  padding: 10px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-text {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: #f0f5fb;
  font-size: 16px;s
  line-heigth: 40px;
  width: 0;
  transition: 0.5s;
  font-family: "Open Sans", "Helvetica Neue",
}

::-webkit-input-placeholder {
  color: #1e3754;
}

.search-btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #0a1b2d;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s;
}

.search-box:hover > .search-text {
  width: 15rem;
  padding: 0 0.375rem;
}

.search-box:hover > .search-btn{
  background: #f0f5fb;
}